body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  background-image: url("Pictures/symphony.png");
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
}

#round_header {
  margin-top: 20px;
  margin-bottom: 25px;
}

form {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 250px;
}

#card_scenario {
  padding: 20px 15px;
  margin: 0 auto;
  width: 300px;
  background-color: rgba(196, 226, 162, 0.4);
  border-radius: 8px;
  line-height: 1.4;
}

table {
  margin: 0 auto !important;
  float: none !important;
}

td {
  padding: 10px;
}

.img-with-text img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.img-with-text {
    text-align: center;
    width: 100px;
}


#start_button{
  margin-top: 20px;
  text-align: center;
}

.timer {
  position: relative;
  font-size: 45px;
  top: -50px;
  z-index: -1;
}

.flashed-content {
  margin-top: 50px;
  margin-bottom: 20px;
}

<<<<<<< HEAD
img {
  height: 100px;
  width: 100px;
}
=======
.flashed_content span {
  margin-top: 20px;
  font-weight: bold;
  /*font-size: 40px;*/
}
>>>>>>> 6a7fb996f1b7dd9466b93d278c854cf1b7cb4073
