h1{
  font-family:"Lucida", sans-serif;
  font-size: 50px;
  text-align: center;
}

form{
  position: relative;
  top:50px;
  margin: 0 auto;
  width:250px;
}

#card_scenario{
  position:relative;
  top:40px;
  margin: 0 auto;
  width:300px;
  font-family: "Arial Black" sans-serif;
  font-size: 20px;
  background-color: #00FFFF;
  border: 5px solid black;
  border-radius: 5px;
}

table{
  position:relative;
  top:100px;
}

button{
  position:absolute;
  left:650px;
  bottom:150px;
}



