h1{
  font-family:"Lucida", sans-serif;
  font-size: 50px;
  text-align: center;
}

form{
  position: relative;
  top:20px;
  margin: 0 auto;
  width:250px;
}

#card_scenario{
  position:relative;
  top:40px;
  margin: 0 auto;
  width:300px;
  font-family: "Arial Black" sans-serif;
  font-size: 20px;
  background-color: #00FFFF;
  border: 5px solid black;
  border-radius: 5px;
}

table{
  position:relative;
  top:70px;
}

.img-with-text img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

td{
  padding: 10px;
}

#start_button{
  text-align: center;
}

#button{
  position:relative;
  top:70px;
}

.img-with-text {
    text-align: justify;
    width: 100px;
}

#timer{
  position:relative;
  font-size:45px;
  top:-50px;
  z-index:-1;
}


